PySide2
# OpenGL requirements
numpy
scipy
matplotlib
# fastdtw
tslearn
# tensorflow to utilize GPU
tensorflow[and-cuda]

mypy

types-Pillow
types-tensorflow

matplotlib-label-lines
shapely